// src/assets/scss/base/_variables.scss

// Breakpoints
$vp-xs: 375px;
$vp-sm: 576px;
$vp-md: 768px;
$vp-lg: 992px;
$vp-xl: 1200px;
$vp-xxl: 1400px;

// ===basic colors ===

$color-white: #fff;
$color-black: #000;

$color-bg: #2f4454;
$color-text: #f0f8ff;

// Primary colors
$color-primary: #2e151b;
$color-secondary: #da7b93;

// Accent colors
$color-accent: #376e6f;
$color-accent-secondary: #1c3334;

// Border colors
$color-border: #ccc;

