// src/assets/scss/components/_header.scss
.header {
    padding: 30px 0;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-primary);

    &__content  {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__title    {
        margin: 0;
        color: #f0f8ff;
        margin-right: auto;
        font-size: 2.5rem;
        font-weight: 200;
        line-height: 100%;
    }

    &__btn {
        padding:  10px 20px;
        font-size: 2rem;
        font-weight: 300;
        color: #f0f8ff;
        border: 1px solid #f0f8ff;
        border-radius: 5px;
        background-color: var(--color-primary);
        
        &:hover {
            background-color: var(--color-secondary);
        }

        &:focus-visible {
            background-color: var(--color-secondary);
        }
    }

}